<div>
    <p>
        A hardworking individual who is willing to put in the extra effort in order to achieve his desired final product. 
        Currently I am a 3rd year student at the University of British Columbia working on a degree in Integrated Science.
        For the program I had to build my own degree that was approved by a professor mentor and the faculty.
        The degree consists of Computer Science, Discrete Mathematics and Education.
        My goal is to be a full-stack developer and/or a video game developer.
        Thank you for coming to my page and <strong>WELCOME TO MY PORTFOLIO</strong>
    </p>
</div>
