header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  height: 60px;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ee6055;
}

main{
  position: absolute;
  top: 60px;
  color: #ee6055;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#logo-container {
  font-size: 40px;
}

#logo-container a {
  text-decoration: none;
  color: white;
}

#links-container {
  display: grid;
  grid-template-columns: 1fr 90px;
  column-gap: 0px;
  justify-items: center;
}

#links-container a {
  text-decoration: none;
  color: white;
}

#links-container a:hover,
#logo-container a:hover {
  color: #aaf683;
  transition: color 0.2s;
}

#links-container a h1 {
  margin-top: 6px;
}
